<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>210094941641-pajhmaggm9s8m9je39791dcklmah3qsp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.210094941641-pajhmaggm9s8m9je39791dcklmah3qsp</string>
	<key>API_KEY</key>
	<string>AIzaSyC2ZcgkJGhlnTo-t1HV1ksKtHTKXvk6Gxk</string>
	<key>GCM_SENDER_ID</key>
	<string>210094941641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chattyApp</string>
	<key>PROJECT_ID</key>
	<string>social-app-61ae5</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-61ae5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210094941641:ios:ea4d448e67d51a00e63418</string>
</dict>
</plist>